<header class="appbar">
  <div class="appbar__container">
    <%= link_to  "Quotes", root_path, class: "appbar__brand" %>
    <form class="appbar__search">
      <input
        type="text"
        class="appbar__search_input"
        placeholder="Search Quotes or Authors"
        name="query"
        value="<%= params[:query] %>"
      />
      <% if params[:query].present? %>
        <button class="appbar__search_clear_button" type="reset">
          <span>+<span>
        </button>
      <% else %>
        <%= image_tag  "search_icon.svg", class: "appbar__search_icon" %>
      <% end %>
      <div class="autosuggest search_input__autosuggest"></div>
    </form>
  </div>
</header>
